@import url('https://fonts.googleapis.com/css?family=Lobster');


.title{
	font-family: 'Lobster',  serif;
	font-size: 40px;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
}
.inbox{
  border: 2px solid #ff0062;
	border-radius: 6px;
	width: 60%;
	height: 25px;
  color: #393939;
	font-family: 'Lobster',  serif;
  font-size: 20px;
	text-align: center;
}
.listNames{
	list-style: none;
	padding-left: 0;
	display: grid;
 	grid-gap: 20px;
 	grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
	align-items: center;
	padding: 20px;
}
.card{
  text-align: center;
}

.image{
  width: 200px;
  height: 250px;
	border-radius: 15px;
}
